@font-face {
    font-family: 'Inter';
    src: url(./Inter/Inter-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url(./Inter/Inter-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(./Inter/Inter-Regular.otf);
    font-weight: 400;
}