.cover {
    background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    margin: 0 auto;
    /* max-height: 740px;
    height: calc(100vw/1.6); */
    padding: 245px 0;
}

.cover:hover {
    background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover-trains.jpg);
    background-size: cover;
    /*несмотря на то, что этот стиль есть в базовом селекторе, при переназначении фона этот стиль сбрасывается. следовательно удалять его нецелесообразно*/
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 195px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 115px 0;
    }
}

@media screen and (max-width: 750px) {
    .cover {
        padding: 33px 0;
    }
}